{% extends 'base.html' %}
{% load static %}
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->

{% block styles %}
    <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
{% endblock %}

{% block pagecontent %}
<div class="container">
    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" name="post" ></p>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}